<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perry's Movie</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/PerryPal21/perry.css@master/perry.css">
</head>
<body>
  <div class="container">
  <style>
    body {
      background-color: #101010;
      text-align:center;
    }

    div {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%
    }

    iframe {
      border: 0px solid white;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 99%;
      height: 100%;
    }

    p {
      color: white;
    }
  </style>
   <h3><%=name%></h3>
    <br>
   <div>
      <iframe
  src="<%=link%>"></iframe>
   </div>
     <br>
     <br>
     <br>
     <br>
     
    <p>Remember to use an AdBlocker</p>
    <p>Media is hosted externally, without any affiliation to this site</p>
     
    <p style="display: none">UGVycnkncyBJbnZlbnRpb24=<p>
   </div>
   </body>
</html>